{% extends 'base.html' %}
{% block header %} {% include 'header.html' %}{% endblock header %}
{% block banner %} {% include 'banner.html' %}{% endblock banner %}\
{% block content %}
  
<div class="container product">
   <h1 class="text-center bg-dark text-warning pt-2">{{carbrand.brand}}</h1>
   <div class="row mb-5">
      {% for item in caritem %}
      <div class="col-12 col-md-6 col-lg-4 pt-5">
       <div class="card text-center">
         <a href="/detail.html"><img src="{{item.carimg.url}}" class="card-img-top" alt="..." style="height: 250px;"></a>
         <div class="card-body">
           <h5 class="card-title">{{item.model}}</h5>
           <p class="card-text">₦{{item.price}}</p>
           <form action="{% url 'add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="carid" value="{{item.id}}">
            <button type="submit" class="btn btn-warning">Add to Cart</button>
         </form>
         </div>
       </div>
      </div>
        
      {% endfor %}
   </div>
 </div>

{% endblock content %}
{% block footer %} {% include 'footer.html' %}{% endblock footer %}